@import 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

.wrapper{
  width:100%;
  height:100%;
}

.navbar{
  float:left;
  position:fixed;
  width:30%;height:100%;
  background-color: #32325b;
}
.dropbox{
  padding-top: 50px;
  text-align: center;}
.dropbox img{
  width:20%;}
.menubar{
  padding-top: 50px;
  margin:0 auto;
  text-align:center;
  width:30%;}

.menu{
  display: inline;
  list-style: none;
  width:30%;text-align:left;}
.menu li {
  line-height: 200%;
  padding-left: 10px;
}
.menu li a:hover {
}
.menu a {
  color:#fff;
  text-decoration: none;
  padding: 14px 6px;}

.main-content{
  float:left;
  width:80%;height:100%;
  background-color: #fff;
}
.photo-icons{
  position: fixed;
  top:8%;left:32%;
  color:lightblue;
}
.titles{
  font-family: 'Source Sans Pro', sans-serif;
  position: fixed;
  top:8%;right:2%;
  color:#4b3939;
}
.titles span:hover{
  background-color: #4b3939;
  color:#fff;
}
.titles span:active{
  background-color: #4b3939;
  color:#fff;
}
.gallery{position: absolute;
  top:10%; left:32%;
}
